<app-line-prelarder *ngIf="loadingState"></app-line-prelarder>
<div class="job_container">
  <div *ngIf="!loadingState" class="search">
    <h3>Your dream job’s just a search away…</h3>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Keywords" />
  </div>
  <div class="job_list">
    <div
      class="card"
      *ngFor="let job of jobs | filter: searchTerm"
      routerLink="/job/details/{{ job.id }}"
    >
      <div class="header">
        <h3 class="role">{{ job.title | titlecase }}</h3>
        <span class="space"></span>
        <div class="date_posted">{{ job.created_at | date }}</div>
      </div>
      <div class="main">
        <h5 class="company">{{ job.company | uppercase }}</h5>
        <p class="location">{{ job.location | uppercase }}</p>
      </div>
    </div>
  </div>
</div>
