:host {
  * {
    margin: 0;
    padding: 0;
    color: #fff;
  }
}

.home_wrapper {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;

  .scroll-downs {
    position: absolute;
    bottom: 0;
    margin: auto;

    width: 34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }

  .divider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 85%;

    span {
      opacity: 0.2;
      width: 1px;
      background: #fff;
      height: 82%;
    }
  }

  .signin,
  .findyourfit {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;

    &:hover {
      background: rgba($color: #fff, $alpha: 0.01);
    }

    h3 {
      transform: scale(0.5);
      text-align: center;
      padding: 0 100px;
      line-height: 1;
      letter-spacing: 1px;
      font-family: "Anton";
      font-size: 80px;
    }

    button {
      color: #000;
      letter-spacing: 1px;
      font-family: "Anton";
      font-size: 16px;
      width: 300px;
      padding: 16px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
