<div class="card_container">
  <div class="card" *ngFor="let job of jobs">
    <div class="header">
      <div class="avatar">
        <img [src]="job.company_logo" alt="brand mark" />
      </div>
      <span class="space"></span>
      <div class="date_posted">{{ job.created_at | date }}</div>
    </div>
    <div class="main">
      <h5 class="company">{{ job.company | uppercase }}</h5>
      <h3 class="role">{{ job.title | titlecase }}</h3>
      <p class="location">{{ job.location | uppercase }}</p>
    </div>
  </div>
</div>
