:host {
  * {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .home_wrapper {
    background: #000;
    background-image: url("https://external-preview.redd.it/TrRBQXDaearZE_uyeg8-UivSxRnb-jPjK5hUhMYpoUc.png?auto=webp&s=1359601a7ed5962123bc26ce2925c0d17501405a");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 0px right -50px;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;

    .sidebar {
      height: 100%;
      width: 100px;
      overflow-x: hidden;
      border-right: 1px solid rgba($color: #fff, $alpha: 0.05);

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 50px;
        height: 100%;
      }

      button {
        margin-top: 150px;
        transform: rotate(-90deg);
        padding: 8px 16px;
        background: none;
        color: #444;
        font-weight: 500;
        letter-spacing: 1.5px;
        font-family: rift, sans-serif;
        border: 1px solid rgba($color: #fff, $alpha: 0.05);

        &:hover {
          cursor: pointer;
          color: #fff;
          border: 1px solid #fff;
        }

        &:focus {
          outline: none;
          color: #fff;
          border: 1px solid #fff;
        }
      }

      h3 {
        transform: rotate(-90deg);
        font-family: "rift", sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: #444;
        width: 250px;
      }
    }

    .main_content {
      padding: 0 50px;

      h3 {
        font-family: "futura-pt-condensed", sans-serif;
        font-weight: 800;
        letter-spacing: -3.5px;
        font-size: 100px;
        width: 750px;
        line-height: 0.72;
        color: #fff;
        text-shadow: 0 0 20px #000;
      }

      button {
        width: 400px;
        margin-top: 32px;
        padding: 16px 0;
        background: none;
        color: #aaa;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1.5px;
        font-family: rift, sans-serif;
        border: 1px solid rgba($color: #aaa, $alpha: 0.09);

        &:hover {
          cursor: pointer;
          color: #fff;
          border: 1px solid #fff;
        }

        &:focus {
          outline: none;
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .home_wrapper {
    background-image: url("https://external-preview.redd.it/TrRBQXDaearZE_uyeg8-UivSxRnb-jPjK5hUhMYpoUc.png?auto=webp&s=1359601a7ed5962123bc26ce2925c0d17501405a");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 0px right -50px;

    .main_content {
      padding: 0 32px;
      width: 500px;

      h3 {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .home_wrapper {
    background: #000;
    background-image: url("https://external-preview.redd.it/TrRBQXDaearZE_uyeg8-UivSxRnb-jPjK5hUhMYpoUc.png?auto=webp&s=1359601a7ed5962123bc26ce2925c0d17501405a");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;

    display: flex;
    align-items: center;
    height: 100vh;

    .sidebar {
      display: none;
    }

    .main_content {
      padding: 32px;

      h3 {
        font-family: "futura-pt-condensed", sans-serif;
        font-weight: 800;
        letter-spacing: -1px;
        font-size: 12vw;
        line-height: 0.8;
        color: #fff;
      }

      button {
        width: 100%;
        margin-top: 50px;
        padding: 16px 0;
        background: none;
        color: #aaa;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1.5px;
        font-family: rift, sans-serif;
        border: 1px solid rgba($color: #aaa, $alpha: 0.09);

        &:hover {
          cursor: pointer;
          color: #fff;
          border: 1px solid #fff;
        }

        &:focus {
          outline: none;
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }
}
