<div class="home_wrapper">
  <span class="signin order">
    <span class="signin_wrapper">
      <button routerLink="/sign-in">SIGN IN</button>
      <h3>USE YOUR SKILLS TO CHANGE THE WORLD</h3>
    </span>
  </span>
  <span class="divider">
    <span></span>
    <div class="scroll-downs">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  </span>
  <span class="findyourfit order">
    <h3>
      ARE YOU A CANDIDATE LOOKING FOR NEW OPPORTUNITIES?
    </h3>
    <button routerLink="/joblist">FIND YOUR FIT</button>
  </span>
</div>
