nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  * {
    font-family: "rift", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    margin: 0;
  }
}

.margin {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.brand {
  width: 150px;

  & img {
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.space {
  flex: 1;
}

.nav_action {
  & button {
    margin-left: 50px;
    padding: 25px 0;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.5px;
    background: none;
    color: #000;

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -8px 0 0 #000;
      transition: all 0.5s ease-in-out;
    }

    &:focus {
      outline: none;
      color: #999;
      box-shadow: none;
    }
  }
}

@media (max-width: 768px) {
  // nav {
  //   position: fixed;
  // }
}
@media (max-width: 425px) {
  // nav {
  //   position: static;
  // }
  .margin {
    padding: 0 16px;
    margin-bottom: 2px;
  }
  .nav_action,
  .space {
    display: none;
  }
  .brand {
    width: 150px;
    padding: 25px 0;

    & img {
      width: 100%;
    }
  }
}
