<app-line-prelarder *ngIf="loadingState"></app-line-prelarder>
<div id="apply" class="job_details">
  <div *ngIf="job" class="company_card">
    <div class="header">
      <div class="back_action">
        <img
          routerLink="/joblist"
          src="../../assets/icons/arrow-white.svg"
          alt="back"
        />
      </div>
      <span class="job_title">
        <p class="badge">
          <img src="../../assets/icons/time-gray.svg" alt="time-icon" />{{
            job?.type | uppercase
          }}
        </p>
        <h3>
          {{ job?.title | uppercase }}
        </h3>
      </span>
      <div class="company_badge">
        <span>
          <h5 class="company">
            <img src="../../assets/icons/job-gray.svg" alt="job-icon" />{{
              job?.company | uppercase
            }},
          </h5>
          <small class="location"
            ><img src="../../assets/icons/geo-gray.svg" alt="geo-icon" />{{
              job?.location | uppercase
            }}</small
          >
        </span>
        <a
          *ngIf="job.how_to_apply"
          href="{{ job?.how_to_apply }}"
          target="_blank"
          >APPLY
        </a>
      </div>
    </div>
    <div class="main">
      <div class="description_warpper">
        <h3>Job Description</h3>
        <div class="description" [innerHTML]="job?.description"></div>
      </div>
      <div class="job_details">
        <h3>Job Details</h3>
        <ul>
          <li class="badge">
            <small
              ><img src="../../assets/icons/user-gray.svg" alt="user-icon" />
            </small>
            <span>{{ job?.title | uppercase }}</span>
          </li>
          <li class="badge">
            <small
              ><img src="../../assets/icons/time-gray.svg" alt="time-icon" />
            </small>
            <span>{{ job?.type | uppercase }}</span>
          </li>
          <li class="company">
            <small
              ><img src="../../assets/icons/job-gray.svg" alt="job-icon" />
            </small>
            <span>{{ job?.company | uppercase }}</span>
          </li>
          <li class="company">
            <small
              ><img src="../../assets/icons/geo-gray.svg" alt="geo-icon" />
            </small>
            <span>{{ job?.location | uppercase }}</span>
          </li>
          <li class="company">
            <small
              ><img src="../../assets/icons/cal-gray.svg" alt="calendar-icon" />
            </small>
            <span>{{ job?.created_at | uppercase | date }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
