<app-line-prelarder *ngIf="loadingState"></app-line-prelarder>
<div id="apply" class="job_details">
  <div *ngIf="job" class="company_card">
    <div class="header">
      <span class="job_title">
        <p class="badge">{{ job?.type | uppercase }}</p>
        <h3>
          {{ job?.title | uppercase }}
        </h3>
      </span>
      <div class="company_badge">
        <span>
          <h5 class="company">{{ job?.company | uppercase }},</h5>
          <span class="location">{{ job?.location | uppercase }}</span>
        </span>
        <a
          *ngIf="job.how_to_apply"
          href="{{ job?.how_to_apply }}"
          target="_blank"
          >CLICK HERE TO APPLY
        </a>
      </div>
    </div>
    <div class="main">
      <div class="description_warpper">
        <h3>Job Description</h3>
        <div class="description" [innerHTML]="job?.description"></div>
      </div>
      <div class="job_details">
        <h3>Job Details</h3>
        <ul>
          <li class="badge">
            <small>Job Title</small> <span>{{ job?.title | uppercase }}</span>
          </li>
          <li class="badge">
            <small>Job Type</small> <span>{{ job?.type | uppercase }}</span>
          </li>
          <li class="company">
            <small>Employer</small> <span>{{ job?.company | uppercase }}</span>
          </li>
          <li class="company">
            <small>Location</small> <span>{{ job?.location | uppercase }}</span>
          </li>
          <li class="company">
            <small>Posted</small>
            <span>{{ job?.created_at | uppercase | date }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
