<app-line-prelarder *ngIf="loadingState"></app-line-prelarder>
<div id="apply" class="card_container">
  <div *ngIf="job" class="company_card">
    <span class="circles one"></span>
    <span class="circles two"></span>
    <span class="circles three"></span>
    <div class="header">
      <div class="avatar">
        <img
          *ngIf="job.company_logo"
          [src]="job?.company_logo"
          alt="brand mark"
        />
      </div>
    </div>
    <div class="main">
      <div class="company_job_title">
        <h5 class="company">{{ job?.company | uppercase }}</h5>
        <h5 class="title">
          {{ job?.title | uppercase }}
          <span class="badge">{{ job?.type }}</span>
        </h5>
        <p class="location">{{ job?.location | uppercase }}</p>
      </div>
      <span class="space"></span>
      <div class="address">
        <a
          class="action"
          target="_blank"
          rel="noopener noreferrer"
          *ngIf="job?.company_url"
          [href]=""
          (click)="howToApply()"
          >HOW TO APPLY</a
        >
      </div>
    </div>
  </div>
  <div *ngIf="apply" class="how_to_apply">
    <pre>
      {{ job?.how_to_apply }}
    </pre>
  </div>
  <div *ngIf="job" class="job_card">
    <div class="main">
      <pre class="description">
      {{ job?.description }}
      </pre>
    </div>
  </div>
</div>
