.header {
  position: relative;
  padding: 130px 50px 100px 50px;
  min-height: 700px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  * {
    margin: 0;
    padding: 0;
  }

  .job_title {
    p {
      margin-bottom: 8px;
      font-weight: 600;
      color: #fff;
    }
    h3 {
      color: #fff;
      font-weight: 700;
      font-size: 100px;
      line-height: 1em;
      font-family: "Anton";
      width: 85%;
      letter-spacing: 3px;
      margin-bottom: 50px;
    }
  }

  .company_badge {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .company {
        margin-right: 8px;
        color: #fff;
        font-weight: 600;
      }
    }

    a {
      bottom: 0;
      left: 0;
      position: absolute;
      color: #fff;
      letter-spacing: 1px;
      background: #7ac943;
      font-weight: 600;
      padding: 16px 100px;
      width: 100%;
      text-align: center;
      text-decoration: none;
    }
  }
}

.main {
  * {
    margin: 0;
    padding: 0;
  }
  display: flex;

  .description_warpper {
    background: #fff;
    h3 {
      font-size: 16px;
      font-weight: 700;
      padding: 32px 50px;
    }
  }

  .description {
    padding: 0 100px 35px 50px;
  }

  .job_details {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    h3 {
      font-size: 16px;
      font-weight: 700;
      border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.1);
      padding: 32px 0 32px 70px;
    }
    ul {
      list-style: none;
      min-width: 450px;
      padding: 50px 100px 0 70px;

      li {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 32px;

        small {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 10px;
        }

        span {
          width: 200px;
        }
      }
    }
  }
}

// .job_card {

//   .main {
//     padding: 50px 100px;
//     background: #fff;
//   }
// }

// .how_to_apply {
//   background: #ffe604;
//   padding: 16px 16px 0 16px;
//   text-align: center;
//   transition: 0.3s;
// }

// .company_card {
//   & * {
//     // margin: 0;
//     // padding: 0;
//   }
//   background: rgb(122, 201, 67);
//   background: linear-gradient(
//     -135deg,
//     rgba(122, 201, 67, 1) 8%,
//     rgb(76, 165, 13) 100%
//   );

//   overflow: hidden;
//   padding: 32px 100px;
//   display: flex;
//   align-items: center;
//   position: relative;

//   .avatar {
//     width: 80px;
//     height: 80px;
//     border-radius: 50%;
//     border: 8px solid rgba($color: #000000, $alpha: 0.05);
//     padding: 16px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;

//     img {
//       width: 100%;
//     }
//   }

//   .header,
//   .main {
//     z-index: 1;
//   }

//   .main {
//     padding: 0 0 0 32px;
//     display: flex;
//     align-items: center;
//     width: 100%;

//     .company_job_title {
//       width: 400px;
//     }

//     .company,
//     .location,
//     .title {
//       color: #fff;
//     }

//     .space {
//       flex: 1;
//     }

//     .title {
//       font-size: 1.5em;
//       font-weight: 700;
//       margin-top: 8px;
//     }

//     .badge {
//       background: #ffe604;
//       padding: 1px 8px;
//       display: inline-block;
//       color: #47a304;
//       font-size: 0.5em;
//       border-radius: 50px;
//     }

//     .address {
//       text-align: right;
//       .action {
//         letter-spacing: 0.2em;
//         font-size: 0.8em;
//         font-weight: 700;
//         padding: 8px 16px;
//         display: inline-block;
//         color: #fff;
//         border-radius: 50px;
//         box-shadow: 0 0 0 1.5px #fff;
//         text-decoration: none;

//         &:hover {
//           color: #7ac943;
//           box-shadow: inset 0 0 0 100px #fff;
//           transition: 0.3s;
//           cursor: pointer;
//         }
//       }
//     }
//   }

//   .circles {
//     position: absolute;
//     width: 250px;
//     height: 250px;
//     border-radius: 50%;
//     background: rgb(122, 201, 67);
//     background: linear-gradient(
//       -135deg,
//       rgba(122, 201, 67, 1) 8%,
//       rgb(65, 151, 3) 100%
//     );

//     &.one {
//       left: -300px;
//       top: 30px;
//       width: 850px;
//       height: 850px;
//     }
//     &.two {
//       right: -100px;
//       top: -100px;
//       width: 200px;
//       height: 200px;
//       opacity: 0.3;
//     }
//     &.three {
//       left: 650px;
//       bottom: 30px;
//       width: 50px;
//       height: 50px;
//     }
//   }
// }
