@media screen and (min-width: 768px) {
  .header {
    position: relative;
    padding: 130px 50px 100px 50px;
    min-height: 700px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    * {
      margin: 0;
      padding: 0;
    }

    .back_action {
      text-align: right;
      img {
        width: 32px;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    .job_title {
      p {
        display: flex;
        align-items: center;

        img {
          width: 16px;
          margin-right: 8px;
        }

        margin-bottom: 8px;
        font-weight: 600;
        color: #fff;
      }
      h3 {
        display: flex;
        align-items: center;

        img {
          width: 16px;
          margin-right: 8px;
        }

        font-family: "futura-pt-condensed", sans-serif;
        font-weight: 800;
        letter-spacing: -1px;
        font-size: 8vw;
        line-height: 0.8;
        color: #fff;
        margin-bottom: 50px;
      }
    }

    .company_badge {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;

        small {
          display: flex;
          align-items: center;

          img {
            width: 16px;
            margin-right: 8px;
          }
        }
        .company {
          display: flex;
          align-items: center;

          img {
            width: 16px;
            margin-right: 8px;
          }

          margin-right: 8px;
          color: #fff;
          font-weight: 600;
        }
      }

      a {
        bottom: 0;
        left: 0;
        position: absolute;
        color: #fff;
        letter-spacing: 1px;
        background: #7ac943;
        font-weight: 600;
        padding: 16px 100px;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .main {
    * {
      margin: 0;
      padding: 0;
    }
    display: flex;

    .description_warpper {
      background: #fff;
      h3 {
        font-size: 16px;
        font-weight: 700;
        padding: 32px 50px;
      }
    }

    .description {
      padding: 0 100px 35px 50px;
    }

    .job_details {
      border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
      h3 {
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.1);
        padding: 32px 0 32px 70px;
      }
      ul {
        list-style: none;
        min-width: 450px;
        padding: 50px 100px 0 70px;

        li {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          margin-bottom: 32px;

          small {
            display: flex;
            align-items: center;

            img {
              width: 16px;
              margin-right: 8px;
            }

            font-weight: 700;
            text-transform: uppercase;
            font-size: 10px;
          }

          span {
            width: 200px;
          }
        }
      }
    }
  }
}

// @media screen and (min-width: 426) and (max-width: 1200px)

@media screen and (min-width: 320px) and (max-width: 700px) {
  :hover {
    min-height: 100vh;
    max-width: 100vw;
  }
  * {
    margin: 0;
    padding: 0;
  }

  .job_details {
    padding: 79px 0px 0px 0px;
  }
  .header {
    position: relative;
    background: #000;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3,
    h5,
    p,
    small {
      padding: 0 16px;
    }

    .badge {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        margin-right: 8px;
      }
    }

    .back_action {
      padding: 16px;
      text-align: right;
      img {
        width: 32px;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    h3 {
      font-family: "futura-pt-condensed", sans-serif;
      font-weight: 800;
      font-size: 8vw;
      line-height: 0.8;
      color: #fff;
      margin: 16px 0;
    }

    .company_badge {
      display: flex;
      padding-bottom: 16px;
      a {
        background: #111111;
        color: #fff;
        padding: 16px 0;
        position: absolute;
        font-family: "rift", sans-serif;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        bottom: -50px;
        left: 0;
      }

      span {
        .location,
        .company {
          padding-top: 16px;
          display: flex;
          align-items: center;

          img {
            width: 16px;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .main {
    padding: 80px 16px 32px 16px;

    .job_details {
      display: none;
    }

    .description_warpper {
      h3 {
        font-family: "rift", sans-serif;
        font-weight: 700;
        font-size: 5vw;
      }
    }
  }
}
